/*去除默认样式*/
body,p,pre,form,input,h1,h2,h3,h4,h5,h6,ul,li,ol,dl,dd,dt{
	margin:0;
	padding:0;
	list-style:none;
	font-style: normal;
    font-weight: normal;
    font-family: "\5FAE\8F6F\96C5\9ED1",tahoma;
}
ul,li,ol,dl,dd,dt{
	margin:0;
	padding:0;
	list-style:none;
}
a{
	text-decoration: none;
	color: #333;
}
i{
    font-style: normal;
}
img{
	border:0;
	vertical-align: middle;
}
*{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
.over{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.overmore{
    text-overflow:ellipsis; 
    overflow:hidden;
    display:-webkit-box; 
    -webkit-line-clamp:3; 
    -webkit-box-orient: vertical;
}
.long_in{
    /*width: 150px;*/
    /*height: 50px;*/
    /*line-height: 50px;行间距*/
    
    /*背景颜色*/
    background-color: #FFF;
         
    /*规定元素中的文本的水平对齐方式*/
    text-align: center;
    
    /*position:规定元素的定位类型;absolute:绝对定位*/
    position: absolute;
    
    /*left:设置定位元素左外边距边界与其包含块左边界之间的偏移;%:设置元素的左边到最近一个具有定位设置父元素的左边缘的百分比位置.*/
    left: 50%;
    
    /**/
    top: 50%;
    
    /*设置元素的左外边距*/
    margin-left:-175px;
    
    /*设置元素的上外边距*/
    margin-top:-150px;
    
    /*设置元素的堆叠顺序;拥有更高堆叠顺序的元素总是会处于堆叠顺序较低的元素的前面;元素可拥有负的 z-index 属性值;Z-index 仅能在定位元素上奏效*/
    z-index: 2;   
}